<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--<script src="../../static/jquery.js"></script>-->
</head>
<body>
<form id="submit">
    <input type="hidden" id="id" value="0">
    <label for="name">Name:</label><input type="text" id="name">
    <input type="submit" value="Save">
</form>
<table id="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="version:${versions}">
        <td th:text="${version.id}"></td>
        <td th:text="${version.name}"></td>
        <td>
            <button th:id="${version.id}" class="update">Update</button>
        </td>
        <td>
            <button th:id="${version.id}" class="remove">Remove</button>
        </td>
    </tr>
</table>
<button onclick="f()">Click to run f()</button>
<script>
    $(document).ready(function () {
        $('#submit').submit(function (event) {
            let id = $('#id').val();
            let name = $('#name').val();
            let versionToSend = {
                "id": id, "name": name
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(versionToSend),
                url: "/version/create",
                success: function (version) {
                    let newTr = "<tr>";
                    newTr += "<td>" + version.id + "</td>";
                    newTr += "<td>" + version.name + "</td>";
                    newTr += "<td><button onclick='remove(this," + version.id + ")' class='remove' id='" + version.id + "'>Remove</button></td>";
                    newTr += "</tr>";
                    $('#table').append(newTr);
                }
            })
            event.preventDefault();
        })
        $('.remove').click(function (event) {
            let button = $(this);
            console.log($(this));
            $.ajax({
                type: "DELETE",
                url: "/version/remove/" + button.attr("id"),
                success: function (message) {
                    button.parent().parent().remove();
                }
            })
            event.preventDefault();
        })
        $('.update').click(function () {
            //set value in form
            let button = $(this);
            $.ajax({
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                type: "GET",
                url: "/version/" + button.attr("id"),
                success: function (version) {
                    $('#id').val(version.id);
                    $('#name').val(version.name);
                }
            })
        })
    });

    function remove(node, id) {
        let button = $(node);
        console.log(button.attr("id"));
        console.log(button);
        $.ajax({
            type: "DELETE",
            url: '/version/remove/' + id,
            success: function (message) {
                console.log(message);
                button.parent().parent().remove();
            }
        })
    }
</script>
</body>
</html>