<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<form id="submit">
    <input type="hidden" id="id" value="0">
    <label for="name">Name:</label><input type="text" id="name">
    <input type="submit" value="Save">
</form>
<table id="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="version:${versions}">
        <td th:text="${version.id}"></td>
        <td th:text="${version.name}"></td>
        <td>
            <button th:id="${version.id}" class="update">Update</button>
        </td>
        <td>
            <button th:id="${version.id}" class="remove">Remove</button>
        </td>
    </tr>
</table>
<div id="form-place"></div>
<script>
    $(document).ready(function () {
        $('#submit').submit(function (event) {
            let id = $('#id').val();
            let name = $('#name').val();
            let versionToSend = {
                "id": id, "name": name
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(versionToSend),
                url: "/version/create",
                success: function (version) {
                    let newTr = "<tr>";
                    newTr += "<td>" + version.id + "</td>";
                    newTr += "<td>" + version.name + "</td>";
                    newTr += "<td><button onclick='prepareUpdate(this)' id='" + version.id + "' class='update'>Update</button></td>";
                    newTr += "<td><button class='remove' id='" + version.id + "'>Remove</button></td>";
                    newTr += "</tr>";
                    $('#table').append(newTr);

                }
            })
            event.preventDefault();
        })
        /*$('.remove').on("click",function () {
            console.log("Button clicked after loaded ajax!");
        })*/
        $(document).on("click", ".remove", function () {
            let button = $(this);
            console.log($(this));
            $.ajax({
                type: "DELETE",
                url: "/version/remove/" + button.attr("id"),
                success: function (message) {
                    button.parent().parent().remove();
                }
            })
            event.preventDefault();
        })
        $('.update').click(function () {
            //set value in form
            let button = $(this);
            $.ajax({
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                type: "GET",
                url: "/version/" + button.attr("id"),
                success: function (version) {
                    let form = "<form id=\"update-form\" onclick='update()'><label for=\"update-id\">ID</label><input type=\"text\" id=\"update-id\" disabled><br><label for=\"update-name\">Name</label><input type=\"text\" id=\"update-name\"><br><input type=\"submit\" value=\"Update\"></form>";
                    $('#form-place').append(form);
                    $('#update-id').val(version.id);
                    $('#update-name').val(version.name);
                }
            })
        })
    });

    function prepareUpdate(node) {
        $.ajax({
            headers: {
                'Accept': 'application/json', 'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/version/" + node.id,
            success: function (version) {
                let form = "<form id=\"update-form\" onclick='update()'><label for=\"update-id\">ID</label><input type=\"text\" id=\"update-id\" disabled><br><label for=\"update-name\">Name</label><input type=\"text\" id=\"update-name\"><br><input type=\"submit\" value=\"Update\"></form>";
                $('#form-place').append(form);
                $('#update-id').val(version.id);
                $('#update-name').val(version.name);
            }
        })
    }

    function update() {
        let id = $('#update-id').val();
        let name = $('#update-name').val();
        let newVersion = {"id": id, "name": name};
        $.ajax({
            headers: {
                'Accept': 'application/json', 'Content-Type': 'application/json'
            },
            type: "PUT",
            url: "/version/update",
            data: JSON.stringify(newVersion),
            success: function (version) {
                //disable update form
                $('#update-form').innerHTML = "";
                //replace value of new version in table
                let newRow = "<td>" + version.id + "</td>";
                newRow += "<td>" + version.name + "</td>";
                newRow += "<td><button id='" + version.id + "' class='update'>Update</button></td>";
                newRow += "<td><button id='" + version.id + "' class='remove'>Remove</button></td>";
                $(version.id).parent().parent().innerHTML = newRow;
            }
        })
    }
</script>
</body>
</html>